<div class="mt-4 col-8 offset-2 mainDiv">
        <div class="card">
            <h5 class="card-header">Signup</h5>
            <div class="card-body">
                    <form #signupForm =ngForm (ngSubmit)="signup()" >
    
                          

                          <div class="form-group row">
                            <label for="inputname3" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputname3" placeholder="name" name="Name" [(ngModel)]="form.name" required>
                            </div>
                          </div>

                            <div class="form-group row">
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" [(ngModel)]="form.email" required>
                                <div class="alert alert-danger" [hidden]="!error.email">{{error.email}}</div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                              <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" [(ngModel)]="form.password" required>
                                <div class="alert alert-danger" [hidden]="!error.password">{{error.password}}</div>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputConfirmPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                              <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputConfirmPassword3" placeholder="Confirm Password" name="password_confirmation" [(ngModel)]="form.password_confirmation" required>
                              </div>
                            </div>
                           
                        
                            <div class="form-group row">
                              <div class="col-sm-10 buttonContainer">
                                <button type="submit" class="btn btn-primary" [disabled]= "!signupForm.valid">Sign Up</button>
                                <a routerLink="/login" class="btn btn-info">Sign in</a>
                              </div>
                            </div>
                          </form>
       
            </div>
          </div>
    </div>